<ng-template #customItemTemplate let-model="item" let-index="index">
    <label>{{model.nombre}}</label>
</ng-template>


<div class="card">

    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                <i class="fas fa-filter"></i> Visualizar filtros de consulta                
            </button>
            <button class="btn btn-primary float-right">Buscar</button>
            <span *ngIf="filtrarPorCedula"> <br/>Cedula: {{cedula}}</span>
            <span *ngIf="filtrarPorSeccional"> <br/>Seccional: {{selectedSeccional?selectedSeccional.nombre: ''}}</span>
            
            
        </h5>
    </div>
    
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="card card-body">
    
                <div class="row">
                    <div class="col">
                        <label>Cedula Solicitante</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" [(ngModel)] = "filtrarPorCedula">
                                </div>
                            </div>
                            <input [disabled]="!filtrarPorCedula"  type="text" class="form-control" [(ngModel)] = "cedula" mask="000-0000000-0">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col">
                        <label>Seccional</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" [(ngModel)] = "filtrarPorSeccional">
                                </div>
                            </div>
                            <input type="text" class="form-control" [(ngModel)] = "seccional"
                            [typeahead]="seccionales"
                            [adaptivePosition]="true" 
                            [typeaheadItemTemplate]="customItemTemplate" 
                            typeaheadOptionField="nombre"
                            (typeaheadOnSelect)="typeaheadOnSelect($event)"
                            [disabled] = "!filtrarPorSeccional">

                            <button class="btn btn-danger" *ngIf="selectedSeccional">Remover</button>
    
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col">
                        <label>Solicitud Desde</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control"  bsDatepicker #dp1="bsDatepicker">
                        </div>
                    </div>                
                </div>
                <div class="row">
                    <div class="col">
                        <label>Solicitud Hasta</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control"  bsDatepicker #dp2="bsDatepicker">
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col">
                        <label>Aprobacion Desde</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control"  bsDatepicker #dp3="bsDatepicker">
                        </div>
                    </div>
            
                </div>
                <div class="row">
                    <div class="col">
                        <label>Aprobacion Hasta</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                            <input type="text" class="form-control"  bsDatepicker #dp4="bsDatepicker">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

aqui: {{seccional | json}}