<div class="row">
    <div class="col">
        <label for="desde">Desde</label>
        <input type="text" name="desde" class="form-control"  bsDatepicker   [maxDate]="toDay()" [(ngModel)] = "desde">
    </div>
    <div class="col">
        <label for="desde">Hasta</label>
        <input type="text" name="desde" class="form-control"  bsDatepicker  [maxDate]="toDay()" [(ngModel)] = "hasta">
    </div>
</div>
<div class="row">
    <div class="col">
        <label>Seccional</label>
        <app-seccional (onSelect) = "SetSeccional($event)" (onRemove) = "ClearSeccional()" [enableField] ="true"></app-seccional>
    </div>
</div>
<br>
<button class="btn btn-primary" (click) = "generar()" [disabled] = "cargando">Generar informe</button>
<app-loading [show] = "cargando"></app-loading>