<h1>Reportes Estadisticos</h1>
<div class="row">
    <div class="col">
        <accordion [isAnimated]="true"  [closeOthers]="true">
            <accordion-group heading="Resumen solicitudes Registradas por seccional">
                <app-resumen-solicitado-por-sucursal></app-resumen-solicitado-por-sucursal>
            </accordion-group>
            <accordion-group heading="Soliciudes Aprobadas por Seccional">
              <app-resumen-aprobado-por-seccional></app-resumen-aprobado-por-seccional>
            </accordion-group>
            <accordion-group heading="Historial de Afiliado">
              <p>Content 2</p>
            </accordion-group>
            <accordion-group heading="Relación detallada de Solicitudes Por Seccional">
              <p>Content 2</p>
            </accordion-group>
          </accordion>
    </div>
</div>