<app-filtro></app-filtro>

<div class="table-responsive-sm">
    <table class="table">
      <thead>
          <th>Nro</th>
          <th>Cedula</th>
          <th>Solicitante</th>
          <th>Seccional</th>
          <th>Concepto</th>
          <th>Monto</th>
          <th>Estado</th>
          <th>Fecha Solicitud</th>
          <th>Fecha Aprobacion</th>
      </thead>
      <tbody>
          <tr *ngFor="let s of (data$ | async)">
              <td>{{s.Id}}</td>
              <td>{{s.Cedula}}</td>
              <td>{{s.Solicitante}}</td>
              <td>{{s.Seccional}}</td>
              <td>{{s.TipoSolicitud}}</td>
              <td>{{s.MontoSolicitado | currency}}</td>
              <td>
                <app-estado-solicitud [nombre] = "s.Estado" [estadoId] = "s.EstadoId"></app-estado-solicitud>
              </td>
              <td>{{s.FechaSolicitud | date: 'dd/MM/yyyy'}}</td>
              <td>{{s.FechaAprobacion | date: 'dd/MM/yyyy'}}</td>
            
              <td> <a [routerLink]="['../detalle/' + s.Id]" >Ir a Detalle</a>  </td>
              <td>
                <a [routerLink]="['../editarSolicitud/' + s.Id]" >Modificar </a>  
              </td>
          </tr>
      </tbody>
    </table>
  </div>

  <app-pagination [itemsPerPage] = "itemsPerPage" (onPageChanged) = "pageChanged($event)"></app-pagination>
  <div style="align-content: center;">
    <app-loading [show] = "loading" ></app-loading>
  </div>
  