<ng-template #customItemTemplate let-model="item" let-index="index">
    <label>{{model.nombre}}</label>
</ng-template>

<app-loading *ngIf="cargando"></app-loading>
<form [formGroup]="solicitudAyudaForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="!cargando">
    <app-loading [show]="isLoading()"></app-loading>

    <fieldset>
        <legend>Datos del solicitante</legend>
        <div class="row">
            <div class="col-md-4">
                <label>Cedula Solicitante</label>
                <input type="text" class="form-control" mask="000-0000000-0" formControlName="cedula" 
                required (keyup.enter) = "SearchCedula()"
                minlength="11"
                (blur) ="SearchCedula()" [attr.disabled] = "maestro">

                <app-validation-error-message *ngIf="GetErrors('cedula', 'required')"
                    textMessage="La cedula es requerida"></app-validation-error-message>
                <app-validation-error-message *ngIf="GetErrors('cedula', 'minlength')"
                    textMessage="La cedula debe contener 11 digitos"></app-validation-error-message>

            </div>
            <div class="col-md-4">
                <label>Nombre Completo</label>
                <input type="text" class="form-control" formControlName="nombreCompleto" minlength="5" required [attr.disabled] = "maestro">
                <app-validation-error-message *ngIf="GetErrors('nombreCompleto', 'minlength')"
                    textMessage="El nombre debe contener al menos 5 letras"></app-validation-error-message>
                <app-validation-error-message *ngIf="GetErrors('nombreCompleto', 'required')"
                    textMessage="El nombre es obligatorio"></app-validation-error-message>
            </div>
            <div class="col-md-2">
                <label>Fecha Nacimiento</label>
                <input class="form-control" bsDatepicker #dp="bsDatepicker" formControlName="fechaNacimiento" required [attr.disabled] = "maestro" 
                [bsConfig]="bsConfig">
                <app-validation-error-message *ngIf="GetErrors('fechaNacimiento', 'required')"
                    textMessage="La fecha de nacimiento es obligatoria"></app-validation-error-message>

            </div>
            <div class="col-md-2">
                <label>Sexo</label>
                <select class="form-control" formControlName="sexo" required [attr.disabled] = "maestro">
                    <option [ngValue]="null">--SELECCIONE--</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                </select>
                <app-validation-error-message *ngIf="GetErrors('sexo', 'required')"
                    textMessage="El sexo es obligatorio"></app-validation-error-message>
            </div>



        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-6">
            <label>Seccional</label>     
            <div class="input-group">                
                <input class="form-control" formControlName="seccional" 
                    [typeahead]="seccionales"
                    [adaptivePosition]="true" 
                    [typeaheadItemTemplate]="customItemTemplate" 
                    typeaheadOptionField="nombre"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    placeholder="Empiece a escribir y seleccione uno de la lista desplegada" required>
                    <div class="input-group-append">

                        <button class="btn btn-danger" *ngIf="selectedSeccional"
                            (click)="removerSeccional()" [attr.disabled] = "maestro">Remover</button>
    
                    </div>

                    <app-loading [show] = "!seccionales">
                        <label>cargando seccionales</label>
                    </app-loading>
            </div>
            <app-validation-error-message *ngIf="GetErrors('seccional', 'required')"
                textMessage="la seccional es obligatoria"></app-validation-error-message>


        </div>
        <div class="col-md-6">
            <label>Cargo</label>
            <input type="text" class="form-control" formControlName ="cargo" required minlength="5" [attr.disabled] = "maestro">
            <app-validation-error-message *ngIf="GetErrors('cargo', 'required')" textMessage="El cargo es oblogatorio"></app-validation-error-message>
            <app-validation-error-message *ngIf="GetErrors('cargo', 'minlength')" textMessage="El cargo debe contener al menos 5 letras"></app-validation-error-message>
        </div>
    </div>
    <div class="row" *ngIf="maestro && !this.solicitudAyudaForm.controls.solicitudId.value">
        <div class="col">
            <br>
            <button type="button" class="btn btn-secondary" (click) = "limpiarMaestro()">Quitar este Maestro</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Tipo de Ayuda</label>
            <select class="form-control" formControlName="tipoDeAyuda"
                (change)="onChangeTipoSolicitud($event.target.value)" required>
                <option [ngValue]="null">--SELECCIONE--</option>
                <option *ngFor="let s of tiposSolicitudes" value="{{s.Id}}">{{s.Nombre}}</option>
            </select>
            <div style="margin-top: 5px;">
                <input type="text" class="form-control" *ngIf="EspecificarOtro" placeholder="Especificar otro" required minlength="5" formControlName="otroTipoSolicitud">
                
                <app-validation-error-message *ngIf="GetErrors('otroTipoSolicitud', 'required')"
                textMessage="Debe especifiar otro tipo de solicitud"></app-validation-error-message>    

                <app-validation-error-message *ngIf="GetErrors('otroTipoSolicitud', 'minlength')"
                textMessage="Debe contener al menos 5 letras"></app-validation-error-message>    
            </div>
            
            <app-validation-error-message *ngIf="GetErrors('tipoDeAyuda', 'required')"
                textMessage="Tipo de Ayuda es obligatorio"></app-validation-error-message>
        </div>
        <div class="col-md-6">
            <label style="font-weight: bold;">Monto de la Ayuda</label>
            <input style="color: blue;font-weight: bold;" type="text" class="form-control" mask="separator.2"
                thousandSeparator="," formControlName="montoAyuda" required>
            <app-validation-error-message *ngIf="GetErrors('montoAyuda', 'required')"
                textMessage="Monto de Ayuda es obligatorio"></app-validation-error-message>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Banco</label>
            <select class="form-control" formControlName="banco">
                <option *ngFor="let b of bancos" value="{{b.Id}}"> {{b.Nombre}}</option>
            </select>
            <app-validation-error-message *ngIf="GetErrors('banco', 'required')"
            textMessage="Debe seleccionar una entidad bancaria"></app-validation-error-message>
        </div>
        <div class="col-md-3">
            <label>Numero de Cuenta</label>
            <input type="text" class="form-control" formControlName="numeroCuentaBanco" minlength="5">
            <app-validation-error-message *ngIf="GetErrors('numeroCuentaBanco', 'required')"
            textMessage="La cuenta de banco es requerida"></app-validation-error-message>
            
            <app-validation-error-message *ngIf="GetErrors('numeroCuentaBanco', 'minlength')"
            textMessage="El numero de cuenta debe contener al menos 5 digitos"></app-validation-error-message>
        </div>


        <div class="col-md-3">
            <label>Fecha Solicitud</label>
            <input type="text" bsDatepicker class="form-control" formControlName="fechaSolicitud" minlength="5" name="fechaSolicitud" autocomplete="off">
            <app-validation-error-message *ngIf="GetErrors('fechaSolicitud', 'required')"
            textMessage="La fecha de solicitud es requerida"></app-validation-error-message>

            <app-validation-error-message *ngIf="GetErrors('fechaSolicitud', 'date')"
            textMessage="Formato de fecha incorrecto"></app-validation-error-message>
            
        </div>

    </div>


    <fieldset>
        <legend>Datos de Contacto</legend>
        <div class="row">
            <div class="col-md-2">                
                <label>Teléfono Celular</label>
                <input type="" class="form-control" mask="000-000-0000" formControlName="telefonoCelular" required>
                <app-validation-error-message *ngIf="GetErrors('telefonoCelular', 'mask')" textMessage="Celular debe contener 10 dígitos"></app-validation-error-message>
                <app-validation-error-message *ngIf="GetErrors('telefonoCelular', 'required')" textMessage="Celular es requerido"></app-validation-error-message>
            </div>
            <div class="col-md-2">
                <label>Teléfono Residencial</label>
                <input type="text" class="form-control" mask="000-000-0000" formControlName="telefonoResidencia">
                <app-validation-error-message *ngIf="GetErrors('telefonoResidencia', 'mask')" textMessage="Teléfono residencial debe contener 10 dígitos"></app-validation-error-message>
            </div>
            <div class="col-md-2">
                <label>Teléfono Laboral</label>
                <input type="text" class="form-control" mask="000-000-0000" formControlName="telefonoLaboral" required>
                <app-validation-error-message *ngIf="GetErrors('telefonoLaboral', 'required')" textMessage="Teléfono laboral es requerido"></app-validation-error-message>
                <app-validation-error-message *ngIf="GetErrors('telefonoLaboral', 'mask')" textMessage="Teléfono laboral debe contener 10 dígitos"></app-validation-error-message>
            </div>
            <div class="col-md-4">
                <label>Correo Electrónico</label>
                <input type="email" class="form-control" formControlName="email">
                <app-validation-error-message *ngIf="GetErrors('email', 'email')"
                    textMessage="El email es inválido, favor corregir"></app-validation-error-message>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Direccion</label>
                <textarea class="form-control" cols="2" required formControlName="direccion"></textarea>
                <app-validation-error-message *ngIf="GetErrors('direccion', 'required')"
                    textMessage="La direccion es requerida"></app-validation-error-message>
            </div>

        </div>
    </fieldset>


    <div class="row">

    </div>

    <div class="row">
        <div class="col-md-6">

            <fieldset>
                <legend>Requisitos</legend>

                <div class="row" *ngFor="let r of RequisitosSolicitud">
                    <div class="col-md-12" *ngIf="r.Values.length == 0">
                        <label>
                            <input type="checkbox" [formControlName]="r.FormName" required>
                            {{r.Descripcion}}
                        </label>
                        <app-validation-error-message *ngIf="GetErrors(r.FormName, 'required')"
                            textMessage="La verificación es obligatoria"></app-validation-error-message>
                    </div>

                    <div class="col-md-12" *ngIf="r.Values.length > 0">
                        <label>
                            <label>{{r.Descripcion}}:</label>
                            <select class="form-control" [formControlName]="r.FormName" required>
                                <option [ngValue]="null">--SELECCIONE--</option>
                                <option *ngFor="let o of r.Values" value="{{o}}">{{o}}</option>
                            </select>
                            <app-validation-error-message *ngIf="GetErrors(r.FormName, 'required')"
                                textMessage="Este dato es obligatorio"></app-validation-error-message>
                        </label>
                    </div>

                    <br>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label>Quien recibira ayuda?</label>
                        <select class="form-control" formControlName="quienRecibeAyuda" required [attr.disabled] = "maestro"
                            (change)="onChangeQuienRecibiraAyuda($event.target.value)">
                            <option *ngFor="let x of QuienRecibiraAyuda" value="{{x.value}}">{{x.name}} </option>
                        </select>

                        <app-validation-error-message *ngIf="GetErrors('quienRecibeAyuda', 'required')"
                            textMessage="Este dato es obligatorio"></app-validation-error-message>
                    </div>
                </div>
                <div class="row" *ngIf="solicitudAyudaForm.get('quienRecibeAyuda').value == 2">
                    <div class="col-md-12">
                        <label>
                            <input type="checkbox" name="RBActaNacimiento" required formControlName="RBActaNacimiento">
                            Acta de Nacimiento de Hijo/Hija
                        </label>

                        <app-validation-error-message *ngIf="GetErrors('RBActaNacimiento', 'required')"
                            textMessage="Este dato es obligatorio"></app-validation-error-message>
                    </div>
                </div>
                <div class="row" *ngIf="solicitudAyudaForm.get('quienRecibeAyuda').value == 3">
                    <div class="col-md-12">
                        <label>
                            <input type="checkbox" name="RBPadreMadre" formControlName="RBPadreMadre" required>
                            Copia cedula de padra/madre
                        </label>

                        <app-validation-error-message *ngIf="GetErrors('RBPadreMadre', 'required')"
                            textMessage="Este dato es obligatorio"></app-validation-error-message>
                    </div>
                </div>
                <div class="row" *ngIf="solicitudAyudaForm.get('quienRecibeAyuda').value == 4">
                    <div class="col-md-12">
                        <label>
                            <input type="checkbox" name="RBConyuge" formControlName="RBConyuge" required>
                            Acta de matrimonio/union libre
                        </label>

                        <app-validation-error-message *ngIf="GetErrors('RBConyuge', 'required')"
                            textMessage="Este dato es obligatorio"></app-validation-error-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Solicitante es jubilado de Inabima?
                        </label>
                        <br>
                        <label>
                            Si
                            <input type="radio" value="true" name="esJubiladoInabima"
                                formControlName="esJubiladoInabima" required
                                (change)="onChangeSolicitadoaJubilado($event.target.value)">
                        </label>
                        &nbsp;
                        <label>
                            No
                            <input type="radio" value="false" name="esJubiladoInabima"
                                formControlName="esJubiladoInabima" required
                                (change)="onChangeSolicitadoaJubilado($event.target.value)">
                        </label>

                        <app-validation-error-message *ngIf="GetErrors('esJubiladoInabima', 'required')"
                        textMessage="Favor especificar si afiliado es jubilado"></app-validation-error-message>
                    </div>
                </div>

                <div class="row" *ngIf="esJubiladoInabima()">
                    <div class="col-md-12">
                        <label>
                            <input type="checkbox" formControlName="estadoCuenta">
                            Estado de cuenta Jubilado de Inabima-Hacienda
                        </label>

                        <app-validation-error-message *ngIf="GetErrors('estadoCuenta', 'required')"
                            textMessage="Este dato es obligatorio"></app-validation-error-message>
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>Archivos Adjuntos</legend>
                <app-file-uploader (FilesChage)="SetFiles($event)" [UploadedFiles] = "uploadedFiles"></app-file-uploader>
            </fieldset>

            <app-validation-error-message *ngIf="!archivos.length && !uploadedFiles.length"
                textMessage="Favor cargar los archivos con los requisitos indicados"></app-validation-error-message>

        </div>
    </div>


    <fieldset>
        <legend>Motivo de la Solicitud</legend>
        <textarea class="form-control" rows="4" formControlName="motivoSolicitud"></textarea>
        <app-validation-error-message *ngIf="GetErrors('motivoSolicitud', 'required')"
            textMessage="Este dato es obligatorio"></app-validation-error-message>
        <br>

    </fieldset>

    <div class="div">
        <input *ngIf="solicitudAyudaForm.controls.solicitudId.value" type="button" class="btn btn-danger" value="Anular Solicitud" (click) = "anularSolicitud()">
        <input type="submit" class="btn btn-success" value="Registrar Solicitud">
        
   
   </div>
    <div class="row">
        <div class="col-md-12">
           
      
        </div>
    </div>


</form>