<ng-template #customItemTemplate let-model="item" let-index="index">
    <label>{{model.nombre}}</label>
  </ng-template>

<app-loading [show]="isLoading()"></app-loading>
<div class="row">
    <div class="col-md-2">
        <label>Cedula Solicitante</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label>Nombre Completo</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-2">
        <label>Telefono</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-2">
        <label>Seccional</label>
        <!-- <input [(ngModel)]="selectedSeccioan" [typeahead]="seccionales"class="form-control"> -->
        <input 
        class="form-control"
        [(ngModel)]="selected" 
        [typeahead]="seccionales" [adaptivePosition]="true"         
        [typeaheadItemTemplate]="customItemTemplate"
        typeaheadOptionField = "nombre"
        (typeaheadOnSelect) = "typeaheadOnSelect($event)"
        [disabled]= "selectedSeccional">

        <button class="btn btn-danger" *ngIf="selectedSeccional" (click) = "removerSeccional()">Remover</button>
    </div>
</div>