<app-loading [show] = "loading"></app-loading>

<div class="card card-body bg-light" *ngIf="!loading">
    <div>
        <span> <button class="btn btn-success">Imprimir</button> |</span>
        <span *ngIf="puedeGestionar"> <button class="btn btn-primary" (click) = "AprobarSoliciud()">Ejecutar acción sobre solicitud</button> |</span>
        <span *ngIf="puedeGestionar"><button class="btn btn-secondary">Anular</button> |</span>        
    </div>
    
    
    <div *ngIf="!puedeGestionar">
        <label>Ninguna accion que aplicar </label>
    </div>
</div>
