<form [formGroup]="formulario" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" autocomplete="off">
    <fieldset>
        <legend>Datos Usuario</legend>
        <div class="row">
            <div class="col-md-3">
                <label>Correo Electrónico</label>
                <input type="email" class="form-control" formControlName="email"
                required (keyup.enter) = "SearchEmail()"
                (blur) ="SearchEmail()"
                required
                >
                <app-validation-error-message *ngIf="GetErrors('email', 'email')"
                    textMessage="El email es inválido, favor corregir"></app-validation-error-message>
                    <app-validation-error-message *ngIf="GetErrors('email', 'required')"
                    textMessage="El email es obligatorio"></app-validation-error-message>
            </div>
            <div class="col-md-4">
                <label>Nombre Completo</label>
                <input type="text" class="form-control" formControlName="nombreCompleto" minlength="5" required>
                <app-validation-error-message *ngIf="GetErrors('nombreCompleto', 'minlength')"
                    textMessage="El nombre debe contener al menos 5 letras"></app-validation-error-message>
                <app-validation-error-message *ngIf="GetErrors('nombreCompleto', 'required')"
                    textMessage="El nombre es obligatorio"></app-validation-error-message>
            </div>
            <div class="col-md-5">
                <label>Seccional</label>
                <app-seccional (onSelect) = "SetSeccional($event)" (onRemove) = "seccional = null"></app-seccional>
                <app-validation-error-message *ngIf="!seccional" textMessage="La seccional es requerida"></app-validation-error-message>
            </div>
        </div>

    <div class="row">
        <div class="col-md-3">
            <label>Cedula Solicitante</label>
            <input type="text" class="form-control" mask="000-0000000-0" formControlName="cedula" required
                (keyup.enter)="SearchCedula()" minlength="11" (blur)="SearchCedula()">

            <app-validation-error-message *ngIf="GetErrors('cedula', 'required')" textMessage="La cedula es requerida">
            </app-validation-error-message>
            <app-validation-error-message *ngIf="GetErrors('cedula', 'minlength')"
                textMessage="La cedula debe contener 11 digitos"></app-validation-error-message>

        </div>
        <div class="col-md-3">
            <label>Sexo</label>
            <select class="form-control" formControlName="sexo" required>
                <option [ngValue]="null">--SELECCIONE--</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
            </select>
            <app-validation-error-message *ngIf="GetErrors('sexo', 'required')" textMessage="El sexo es obligatorio">
            </app-validation-error-message>
        </div>
        <div class="col-md-2">
            <label>Fecha Nacimiento</label>
            <input class="form-control" bsDatepicker #dp="bsDatepicker" formControlName="fechaNacimiento" required>
            <app-validation-error-message *ngIf="GetErrors('fechaNacimiento', 'required')"
                textMessage="La fecha de nacimiento es obligatoria"></app-validation-error-message>

        </div>
        <div class="col-md-2">
            <label>Cargo</label>
            <input type="text" class="form-control" formControlName="cargo" required minlength="5">
            <app-validation-error-message *ngIf="GetErrors('cargo', 'required')" textMessage="El cargo es oblogatorio">
            </app-validation-error-message>
            <app-validation-error-message *ngIf="GetErrors('cargo', 'minlength')"
                textMessage="El cargo debe contener al menos 5 letras"></app-validation-error-message>
        </div>
        <div class="col-md-2">
            <label>Tel. Celular</label>
            <input type="" class="form-control" mask="000-000-0000" formControlName="telefonoCelular" required>
            <app-validation-error-message *ngIf="GetErrors('telefonoCelular', 'mask')"
                textMessage="Celular debe contener 10 dígitos"></app-validation-error-message>
            <app-validation-error-message *ngIf="GetErrors('telefonoCelular', 'required')"
                textMessage="Celular es requerido"></app-validation-error-message>
        </div>

    </div>

    <div class="row">
    
        <div class="col-md-2">
            <label>Tel. Residencial</label>
            <input type="text" class="form-control" mask="000-000-0000" formControlName="telefonoResidencia">
            <app-validation-error-message *ngIf="GetErrors('telefonoResidencia', 'mask')"
                textMessage="Teléfono residencial debe contener 10 dígitos"></app-validation-error-message>
        </div>
        <div class="col-md-2">
            <label>Tel. Laboral</label>
            <input type="text" class="form-control" mask="000-000-0000" formControlName="telefonoLaboral" required>
            <app-validation-error-message *ngIf="GetErrors('telefonoLaboral', 'required')"
                textMessage="Teléfono laboral es requerido"></app-validation-error-message>
            <app-validation-error-message *ngIf="GetErrors('telefonoLaboral', 'mask')"
                textMessage="Teléfono laboral debe contener 10 dígitos"></app-validation-error-message>
        </div>
        <div class="col-md-8">
            <label>Direccion</label>
            <textarea class="form-control" cols="2" required formControlName="direccion" required></textarea>
            <app-validation-error-message *ngIf="GetErrors('direccion', 'required')"
                textMessage="La direccion es requerida"></app-validation-error-message>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <br>
            <button type="submit" class="btn btn-success">Crear Usuario</button>
        </div>
    </div>
</fieldset>
</form>
