<div *ngIf="UploadedFiles?.length">
    <div *ngFor="let uploadedFile of UploadedFiles; let i = index">
        <app-downloable-file 
        [fileName] = "uploadedFile.DisplayName"
        [fileSize] = "uploadedFile.SizeMB"
        [fileId] = "uploadedFile.Id"
        [contentType] = "uploadedFile.ContentType"
        >

        </app-downloable-file> | <button type="button" class="btn btn-danger" (click) = "eliminarArchivo(uploadedFile, i)"> Eliminar Adjunto <i class="fas fa-trash"></i></button>    
    </div>
</div>

<input type="file" class="form-control"  style="visibility: hidden;" id="fileuploader" accept=".jpeg, .pdf">
<ul *ngIf="files.length > 0">
    <li *ngFor="let file of files;  let i = index">
       {{file.name}} |   <span style="color: blue;">{{(file.size / 1024)/1024 | number}} MB </span> 
        <button type="button" class="btn btn-danger" (click) = "remove(i)"> <i class="fas fa-trash"></i></button>    
    </li> 
    
</ul>
<label *ngIf="files.length">Espacio total | {{(GetEspacioTotal() / 1024) /1024 | number}} MB <br/></label>

<button type="button" class="btn btn-primary" (click)="AgregarAdjunto()" ><i class="fas fa-plus-circle"></i></button>