<div *ngIf="cargandoSolicitud">
    <app-loading [show] = "true"></app-loading>
</div>
<div *ngIf="!cargandoSolicitud">
    <h1>SOLICITUD # {{solicitud.numeroExpediente}}</h1>
    <fieldset>
        <legend>DATOS DE SOLICITANTE</legend>
        <div class="row">
            <div class="col">
                <label class="encabezado">Cedula</label>
                <h4 class="dato">{{solicitud.cedulaSolicitante}}</h4>
            </div>
            <div class="col">
                <label class="encabezado"> Nombre Completo </label>
                <h4 class="dato">{{solicitud.nombreSolicitante}}</h4>
            </div>
            <div class="col">
                <label class="encabezado"> Sexo </label>
                <h4 class="dato">{{solicitud.sexoSolicitante}}</h4>
            </div>
            <div class="col">
                <label class="encabezado"> Edad </label>
                <h4 class="dato">{{solicitud.edad}}</h4>
            </div>
            <div class="col">
                <label class="encabezado"> Email </label>
                <h4 class="dato">{{solicitud.email}}</h4>
            </div>
        </div>    
        <div class="row">
            <div class="col">
                <label class="encabezado">Seccional</label>
                <h4 class="dato">{{solicitud.seccional}}</h4>
            </div>
            <div class="col">
                <label class="encabezado"> Cargo </label>
                <h4 class="dato">{{solicitud.cargo}}</h4>
            </div>        
        </div> 
        <div class="row">
            <div class="col">
                <label class="encabezado">Tipo Solicitud</label>
                <h4 class="dato">{{solicitud.tipoSolicitud}}</h4>
            </div>
            <div class="col">
                <label class="encabezado"> Monto Solicitado </label>
                <h4 class="dato">{{solicitud.montoSolicitado | currency}}</h4>
            </div>
            <div class="col">
                <label class="encabezado"> Monto Aprobado </label>
                <h4 class="dato">{{solicitud.montoAprobado? solicitud.montoAprobado : 0 | currency}}</h4>
            </div>
        
        </div> 

    </fieldset>
    

</div>

<fieldset>
    <legend>Requisitos</legend>
    <div class="row">
        <div class="col">
          <ul>
              <li *ngFor="let r of solicitud.requisitos">
                {{r.nombre}} | <label class="badge badge-primary"> {{ getValorRequisito(r)}}</label>
              </li>
          </ul>  
        </div>
        <div class="col">
            <ul>
                
                <li *ngFor="let r of solicitud.adjuntos">
                    <!-- {{r | json}} -->
                  <app-downloable-file [fileId] ="r.id" 
                  [fileName] = "r.displayName" 
                  [fileSize] = "r.sizeMB" 
                  [contentType] = "r.contentType"></app-downloable-file>
                </li>
            </ul>  
        </div>
    </div>
</fieldset>

<div class="row">
    {{solicitud.estadoId}}
    <app-estado-solicitud [estadoId] = "solicitud.estadId" [nombre] = "solicitud.estado"></app-estado-solicitud>
</div>

<app-acciones></app-acciones>

<!-- 
{{solicitud | json}} -->
